# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Logs/
/Android/release/*.apk
/PlayerDataCache/
Test* 
*.csproj
.vs/
PotShot/.vscode/
PotShot/Android/src/main/assets/bin/
PotShot/Android/build/
PotShot/Android/release/
PotShot/OutPut/
PotShot/Logs/
PotShot/Library/
*.sln
*.gradle
PotShot/Android/.idea/
PotShot/Android/.gradle/
PotShot/gradle/
PotShot/Android/gradle/
Android.iml
local.properties
PotShot/Android/.classpath
PotShot/Android/.project
PotShot/Android/.settings/org.eclipse.buildship.core.prefs
